img {
    width: 100%;
    line-height: 0;
}

header .headercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  height: 10%;
  transition: 0.3s;
  position: fixed;
  top: 0;
}

.dropdown {
    line-height: 2.5;
}

header .headercontainer .logo {
  position: relative;
  margin-left: 5%;
}
header .headercontainer .logo span:nth-of-type(1) {
  font-size: 25px;
  font-weight: 600;
}
header .headercontainer .mobile_nav {
  margin: 1px 10px 0;
  display: none;
}
header .headercontainer .mobile_nav .burger {
  width: 19px;
  height: 19px;
  position: relative;
  overflow: hidden;
}
header .headercontainer .mobile_nav .burger:active .top, header .headercontainer .mobile_nav .burger:focus .top, header .headercontainer .mobile_nav .burger:hover .top {
  width: 60% !important;
}
header .headercontainer .mobile_nav .burger:active .middle, header .headercontainer .mobile_nav .burger:focus .middle, header .headercontainer .mobile_nav .burger:hover .middle {
  width: 70% !important;
}
header .headercontainer .mobile_nav .burger:active .bottom, header .headercontainer .mobile_nav .burger:focus .bottom, header .headercontainer .mobile_nav .burger:hover .bottom {
  width: 80% !important;
}
header .headercontainer .mobile_nav .burger .mobile_nav__label {
  margin: -10px 5px;
  width: 135px;
  position: absolute;
}
header .headercontainer .mobile_nav .burger .stripe {
  height: 4px;
  background: black;
  position: absolute;
  transition: 0.2s ease;
}
header .headercontainer .mobile_nav .burger .top {
  right: 0;
  top: 0;
  width: 100%;
}
header .headercontainer .mobile_nav .burger .middle {
  left: 0;
  top: 0;
  margin: 6.9px 0;
  width: 60%;
}
header .headercontainer .mobile_nav .burger .bottom {
  right: 0;
  top: 0;
  margin: 14px 0;
  width: 80%;
}
header .headercontainer .head_nav {
  margin: 0 50px;
  width: 100%;
}
header .headercontainer .head_nav ul {
  text-align: center;
}
header .headercontainer .head_nav ul .visited a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  margin: 15.5px 0;
  right: 0;
}
header .headercontainer .head_nav ul li {
  display: inline-block;
  margin: 0 15px;
}
header .headercontainer .head_nav ul li a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  position: relative;
}
header .headercontainer .head_nav ul li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #FF882A;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 15.5px 0;
  right: 0;
}

header .headercontainer .head_nav ul li a:hover:after {
  width: 100%;
  left: 0;
}
header .headercontainer .icons {
  min-width: 85px;
}
header .headercontainer .icons a {
  margin: 0 5px 0;
  display: block;
  height: 27px;
  width: 27px;
}


header {
  background: #FFF;
  height: 100px;
  position: relative;
}

.mobile_menu {
  background: black;
  width: 90%;
  height: 420px;
  top: 65px;
  left: 0;
  margin: 10px 20px;
  border-radius: 4px;
  position: absolute;
  display: none;
}
.mobile_menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #000000 transparent;
  margin: -10px 35px;
}
.mobile_menu nav {
  padding: 50px;
}
.mobile_menu nav ul .slide a {
  opacity: 1;
  position: relative;
  animation: hidecolor 0.8s ease;
}
.mobile_menu nav ul .slide a:before {
  content: "";
  position: absolute;
  background: #3F51B5;
  width: 0%;
  height: 35px;
  animation: slide 0.8s ease;
}
.mobile_menu nav ul li {
  margin: 30px 0px;
}
.mobile_menu nav ul li a {
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0px;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .mobile_menu {
    display: none;
  }

  header .headercontainer {
    width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .mobile_menu {
    display: none;
  }

  header {
    padding: 0 50px;
    height: 60px;
  }
  header .headercontainer {
    width: 100%;
  }
  header .headercontainer .icons a {
    width: 25px;
    height: 25px;
  }
  header .head_nav {
    display: none;
  }
  header .logo {
    width: 100%;
    text-align: center;
  }
  header .mobile_nav {
    cursor: pointer;
    display: block !important;
  }
  header .mobile_nav .stripe {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  header {
    padding: 0 20px;
  }
  header .logo span {
    font-size: 20px !important;
  }

  .mobile_menu {
    height: 295px;
  }
  .mobile_menu:before {
    margin: -10px 5px;
  }
  .mobile_menu nav {
    padding: 30px 50px;
  }
  .mobile_menu nav ul li {
    margin: 20px 0px;
  }
  .mobile_menu nav ul li a {
    font-size: 18px;
  }
  .mobile_menu nav ul li a:before {
    height: 23px !important;
  }
}
@keyframes slide {
  0% {
    width: 0;
    padding: 0px 10px;
    margin: 0px -5px;
  }
  80% {
    width: 105%;
    padding: 0px 10px;
    margin: 0px -5px;
  }
  100% {
    width: 0;
    padding: 0 0;
  }
}
@keyframes hidecolor {
  0% {
    color: black;
  }
  75% {
    color: black;
  }
  100% {
    color: white;
  }
}

.r-link[href]{
  color: var(--rLinkColor);
  text-decoration: var(--rLinkTextDecoration, none);
}

.menu:hover .menu__link:not(:hover){
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

nav.primary-navigation {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}

nav.primary-navigation li a {
  color: black;
}

nav.primary-navigation li a:hover {
  color: #000;
}

nav.primary-navigation li:hover {
  cursor: pointer;
}

nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}

nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}


a {
  text-decoration: none;
}

a:hover {
  color: #3CA0E7;
}

ul li ul li a {
  transition: all 0.5s ease;
}

@media screen and (max-width: 1023px) {
    .container {
        display: none;
    }
}

.container {
    position: relative;
    left: 50%;
    cursor: pointer;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    max-width: 1440px;
    min-height: 576px;
    max-height: 810px;
    min-width: 1024px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
    z-index: 5;
}

.container .ratio16-9 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container:before {
    content: '';
    display: block;
    padding-top: 56.25%;
}

.arrowcontainer {
    text-align: center;
    width: 33%;
    display: flex;
    justify-content: right;
    align-items: right;
    position: absolute;
    right: 5%;
    bottom: 15%;
    z-index: 999;
}

@-webkit-keyframes flashslowest {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-moz-keyframes flashslowest {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes flashslowest {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes flashslowest {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-webkit-keyframes flashfast {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-moz-keyframes flashfast {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes flashfast {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes flashfast {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-webkit-keyframes flashfastplane {
    100% {
        visibility: hidden;
    }

    0% {
        visibility: visible;
    }
}

@-moz-keyframes flashfastplane {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes flashfastplane {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes flashfastplane {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

.flashslow {
    -webkit-animation-name: flashslow;
    -moz-animation-name: flashslow;
    -o-animation-name: flashslow;
    animation-name: flashslow;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.flashfast {
    -webkit-animation-name: flashfast;
    -moz-animation-name: flashfast;
    -o-animation-name: flashfast;
    animation-name: flashfast;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.flashslowest {
    -webkit-animation-name: flashslowest;
    -moz-animation-name: flashslowest;
    -o-animation-name: flashslowest;
    animation-name: flashslowest;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.backgroundfar {
    z-index: 10 !important;
    position: absolute;
    width: 100%;
}

.backgroundclose {
    z-index: 0 !important;
    position: absolute;
    width: 100%;
}

.lefttransition {
    width: 100% !important;
    margin-left: -100%;
    transition: all 1s !important;
}

.lefttransitionbefore {
    width: 100% !important;
    margin-left: -100%;
    transition: all 1s !important;
}

.lefttransition2 {
    width: 100% !important;
    margin-left: -100%;
    transition: all 1s !important;
}

.righttransition {
    width: 100% !important;
    margin-left: 75%;
    transition: all 1s !important;
}

.righttransition2 {
    width: 100% !important;
    margin-left: 50%;
    transition: all 1s !important;
}

.righttransition3 {
    width: 100% !important;
    margin-left: 25%;
    transition: all 1s !important;
}

.rightshift3 {
    width: 100% !important;
    margin-left: -75%;
    transition: all 1s !important;
}

.rightshift {
    width: 100% !important;
    margin-left: -50%;
    transition: all 1s !important;
}

.rightshift2 {
    width: 100% !important;
    margin-left: -25%;
    transition: all 1s !important;
}

.full__screen {
    width: 100% !important;
    transition: all 1s !important;
}

.small__screen {
    width: 25% !important;
    transition: all 1s !important;
}

@-webkit-keyframes flashslowest {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-moz-keyframes flashslowest {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes flashslowest {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes flashslowest {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-webkit-keyframes flashfast {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-moz-keyframes flashfast {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes flashfast {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes flashfast {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-webkit-keyframes flashfast {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-moz-keyframes flashfast {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes flashfast {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes flashfast {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

.flashslow {
    -webkit-animation-name: flashslow;
    -moz-animation-name: flashslow;
    -o-animation-name: flashslow;
    animation-name: flashslow;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.flashfast {
    -webkit-animation-name: flashfast;
    -moz-animation-name: flashfast;
    -o-animation-name: flashfast;
    animation-name: flashfast;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.flashslowest {
    -webkit-animation-name: flashslowest;
    -moz-animation-name: flashslowest;
    -o-animation-name: flashslowest;
    animation-name: flashslowest;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.backgroundfar {
    z-index: 10 !important;
    position: absolute;
    width: 100%;
}

.backgroundclose {
    z-index: 0 !important;
    position: absolute;
    width: 100%;
}

.arrowcontainer {
    text-align: center;
    width: 33%;
    display: flex;
    justify-content: right;
    align-items: right;
    position: absolute;
    right: 5%;
    bottom: 15%;
    z-index: 999;
}

.arrowbtn img {
    float: right;
}

.arrowbtn {
    position: absolute;
    right: 3%;
    bottom: 15%;
    color: white;
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
}


.background-01-01 {
    width: 33.333333333%;
    height: 33.333333333%;
    left: 0;
    top: 0;
    position: absolute;
    font-size: 0;
    line-height: 0;
}

.background-01-01-log {
    width: 100%;
    height: 33.333333333%;
    left: 0;
    top: 0;
    position: absolute;
    font-size: 0;
    line-height: 0;
}

.background-01-02 {
    left: 33.333333333%;
    height: 33.333333333%;
    width: 33.333333333%;
    top: 0;
    position: absolute;
    font-size: 0;
    line-height: 0;
}

.background-01-03 {
    left: 66.666666666%;
    height: 33.333333333%;
    width: 33.333333333%;
    top: 0;
    position: absolute;
    font-size: 0;
    line-height: 0;
}

.background-03-01 {
    width: 33.333333333%;
    height: 33.333333333%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.background-03-02 {
    left: 33.333333333%;
    height: 33.333333333%;
    width: 33.333333333%;
    bottom: 0;
    position: absolute;
}

.background-03-03 {
    left: 66.666666666%;
    height: 33.333333333%;
    width: 33.333333333%;
    bottom: 0;
    position: absolute;
}

.background-02-01 {
    width: 33.333333333%;
    height: 33.333333333%;
    left: 0;
    bottom: 33.333333333%;
    position: absolute;
}

.background-02-02 {
    left: 33.333333333%;
    height: 33.333333333%;
    width: 33.333333333%;
    bottom: 33.333333333%;
    position: absolute;
}

.background-02-03 {
    left: 66.666666666%;
    height: 33.333333333%;
    width: 33.333333333%;
    bottom: 33.333333333%;
    position: absolute;
}

.log_block {
    left: 6.5%;
    width: 17.5%;
    bottom: 27px;
    position: absolute;
    visibility: hidden;
}

.parents_block {
    left: 9.095%;
    width: 13.2%;
    bottom: 43%;
    position: absolute;
}

.plane_block {
    left: 7%;
    width: 10%;
    bottom: 61.9%;
    position: absolute;
}

.zoom-out-from-plane-to-log {
    -webkit-animation-name: zoomout;
    -moz-animation-name: zoomout;
    -o-animation-name: zoomout;
    animation-name: zoomout;
    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    -o-animation-duration: 7s;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@-webkit-keyframes zoomout {
    100% {
        width: 570%;
        height: 570%;
        top: -320%;
        left: -40%;
    }

    50% {
        width: 500%;
        top: -100%;
        left: -30%;
    }

    0% {
        width: 900%;
        height: 900%;
        top: -250%;
        left: -60%;
    }
}

@-moz-keyframes zoomout {
    100% {
        width: 570%;
        height: 570%;
        top: -320%;
        left: -40%;
    }

    50% {
        width: 500%;
        top: -100%;
        left: -30%;
    }

    0% {
        width: 900%;
        height: 900%;
        top: -250%;
        left: -60%;
    }
}

@-o-keyframes zoomout {
    100% {
        width: 570%;
        height: 570%;
        top: -320%;
        left: -40%;
    }

    50% {
        width: 500%;
        top: -100%;
        left: -30%;
    }

    0% {
        width: 900%;
        height: 900%;
        top: -250%;
        left: -60%;
    }
}

@keyframes zoomout {
    100% {
        width: 570%;
        height: 570%;
        top: -320%;
        left: -40%;
    }

    50% {
        width: 500%;
        top: -100%;
        left: -30%;
    }

    0% {
        width: 900%;
        height: 900%;
        top: -250%;
        left: -60%;
    }
}

.zoom-in {
    -webkit-animation-name: zoomin;
    -moz-animation-name: zoomin;
    -o-animation-name: zoomin;
    animation-name: zoomin;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@-webkit-keyframes zoomin {
    100% {
        width: 900%;
        top: -250%;
        left: -60%;
    }

    0% {
        width: 100%;
        height: 100%;
    }
}

@-moz-keyframes zoomin {
    100% {
        width: 900%;
        top: -250%;
        left: -60%;
    }

    0% {
        width: 100%;
        height: 100%;
    }
}

@-o-keyframes zoomin {
    100% {
        width: 900%;
        top: -250%;
        left: -60%;
    }

    0% {
        width: 100%;
        height: 100%;
    }
}

@keyframes zoomin {
    100% {
        width: 900%;
        top: -250%;
        left: -60%;
    }

    0% {
        width: 100%;
        height: 100%;
    }
}

.zoom-in-plane {
    -webkit-animation-name: zoominplane;
    -moz-animation-name: zoominplane;
    -o-animation-name: zoominplane;
    animation-name: zoominplane;
    -webkit-animation-duration: 3.5s;
    -moz-animation-duration: 3.5s;
    -o-animation-duration: 3.5s;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    -webkit-transition: all 2s cubic-bezier(0.42, 0, 1, 1);
    -moz-transition: all 2s cubic-bezier(0.42, 0, 1, 1);
    animation-delay: 0.3s;
    animation-timing-function: ease-in;

}

@-webkit-keyframes zoominplane {
    100% {
        width: 100%;
        left: 0%;
        bottom: 0;
    }

    0% {
        width: 10%;
    }
}

@-moz-keyframes zoominplane {
    100% {
        width: 100%;
        left: 0%;
        bottom: 0;
    }

    0% {
        width: 10%;
    }
}

@-o-keyframes zoominplane {
    100% {
        width: 100%;
        left: 0%;
        bottom: 0;
    }

    0% {
        width: 10%;
    }
}

@keyframes zoominplane {
    100% {
        width: 100%;
        left: 0%;
        bottom: 0;
    }

    0% {
        width: 10%;
    }
}

.zoom-out-plane {
    -webkit-animation-name: zoomoutplane;
    -moz-animation-name: zoomoutplane;
    -o-animation-name: zoomoutplane;
    animation-name: zoomoutplane;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 3.34s;
    animation-fill-mode: forwards;
    -webkit-transition: all 2s cubic-bezier(0.42, 0, 1, 1);
    -moz-transition: all 2s cubic-bezier(0.42, 0, 1, 1);
    animation-delay: 0.3s;

}

@-webkit-keyframes zoomoutplane {
    100% {
        left: 7%;
        width: 10%;
        bottom: 61.9%;
        visibility: hidden;
    }

    85% {
        visibility: hidden;
    }

    20% {
        width: 50%;
    }

    0% {
        width: 100%;
        left: 0%;
        bottom: 0;
    }
}

@-moz-keyframes zoomoutplane {
    100% {
        left: 7%;
        width: 10%;
        bottom: 61.9%;
        visibility: hidden;
    }

    85% {
        visibility: hidden;
    }

    20% {
        width: 50%;
    }

    0% {
        width: 100%;
        left: 0%;
        bottom: 0;
    }
}

@-o-keyframes zoomoutplane {
    100% {
        left: 7%;
        width: 10%;
        bottom: 61.9%;
        visibility: hidden;
    }

    85% {
        visibility: hidden;
    }

    20% {
        width: 50%;
    }

    0% {
        width: 100%;
        left: 0%;
        bottom: 0;
    }
}

@keyframes zoomoutplane {
    100% {
        left: 7%;
        width: 10%;
        bottom: 61.9%;
        visibility: hidden;
    }

    85% {
        visibility: hidden;
    }

    20% {
        width: 50%;
    }

    0% {
        width: 100%;
        left: 0%;
        bottom: 0;
    }
}

.zoom-in-log {
    -webkit-animation-name: zoominlog;
    -moz-animation-name: zoominlog;
    -o-animation-name: zoominlog;
    animation-name: zoominlog;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-transition: all 2s cubic-bezier(1, 1, 0, 1, 1);
    -moz-transition: all 2s cubic-bezier(1, 1, 0, 1, 1);
    animation-delay: 7s;

}

@-webkit-keyframes zoominlog {
    100% {
        width: 100%;
        visibility: visible;
        left: 0;
        bottom: 0;
    }

    0% {
        width: 100%;
        visibility: hidden;
        left: 0;
        bottom: 0;
    }
}

@-moz-keyframes zoominlog {
    100% {
        width: 100%;
        visibility: visible;
        left: 0;
        bottom: 0;
    }

    0% {
        width: 100%;
        visibility: hidden;
        left: 0;
        bottom: 0;
    }
}

@-o-keyframes zoominlog {
    100% {
        width: 100%;
        visibility: visible;
        left: 0;
        bottom: 0;
    }

    0% {
        width: 100%;
        visibility: hidden;
        left: 0;
        bottom: 0;
    }
}

@keyframes zoominlog {
    100% {
        width: 100%;
        visibility: visible;
        left: 0;
        bottom: 0;
    }

    0% {
        width: 100%;
        visibility: hidden;
        left: 0;
        bottom: 0;
    }
}

.mapbackgroundimage {
    width: 100%;
    height: 100%;
    z-index:-999999;
}

.helloscreen {
    width: 100%;
    height: 100%;
    background: #FF882A;
    opacity: 0.7;
    z-index: 9999;
    font-size: 30px;
    font-family: Akrobat Bold;
    color: #FFF;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    background: #FF882A;
    position: relative;
    opacity: 0;
}

@media screen and (max-width: 56em) {
    .previewtext {
        font-size: 1rem;
    }
}

@media screen and (min-width: 56.25em) {
    .previewtext {
        font-size: 1.5rem;
    }
}

.previewtext {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 4px solid #FFF;
    width: 80%;
    height: 80%;
    background: #FF882A;
}

.underline {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #fff, #fff);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: center bottom;
    animation: underline 1s ease-in-out 0.5s;
    animation-fill-mode: forwards;
}

@keyframes underline {
    to {
        background-size: 100% 2px;
    }
}

@-webkit-keyframes flashmodal {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-moz-keyframes flashmodal {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes flashmodal {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes flashmodal {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

.flashmodal {
    -webkit-animation-name: flashmodal;
    -moz-animation-name: flashmodal;
    -o-animation-name: flashmodal;
    animation-name: flashmodal;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.invisible {
    display: none;
}

svg {
    width: 100%;
    height: auto;
    display: block;
}

.clouds {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    overflow: hidden;
    transform: translateZ(0);
    height: 10%;
    width: 100%;
}

.cloud {
    position: absolute;
    top: 10%;
    width: 100%;
    right: 0;
    opacity: 1;
}

.cloud.front {
    z-index: 9;
}

.cloud.distant {
    z-index: 1;
}

.cloud.background {
    z-index: 1;
}

.cloud.smaller {
    margin-right: 400px;
    width: 100px;
    margin-top: 50px;
}

.cloud.small {
    margin-right: 200px;
    width: 150px;
}

.cloud.big {
    width: 500px;
    margin-top: 50px;
    margin-right: 150px;
}

.cloud.massive {
    width: 900px;
    margin-top: 20px;
    margin-right: 0px;
}

.cloud {
    -webkit-animation-name: cloud-movement;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 18s;

    -moz-animation-name: cloud-movement;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 18s;

    animation-name: cloud-movement;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 18s;
}

.slow {
    -webkit-animation-duration: 29.2s;
    -moz-animation-duration: 29.2s;
    animation-duration: 29.2s;
}

.slower {
    -webkit-animation-duration: 11.2s;
    -moz-animation-duration: 11.2s;
    animation-duration: 21.2s;
}

.slowest {
    -webkit-animation-duration: 13.5s;
    -moz-animation-duration: 13.5s;
    animation-duration: 23.5s;
}

.super-slow {
    -webkit-animation-duration: 20.5s;
    -moz-animation-duration: 20.5s;
    animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
    0% {
        opacity: 0.1;
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        transform: translateX(300px);
    }

    10% {

        opacity: 0.7;
    }

    50% {

        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
